use lib::setup_environment;

setup_environment!(
  solution_1,
  solution_2,
  {{ day }},
  "The solution is: {:?}",
  "The solution is: {:?}"
);

type Output = ();
type {{ parsed_input_name_pascal }} = ();

fn parse_input(input: &str) -> {{ parsed_input_name_pascal }} {}

pub fn solution_1(input: &str) -> Output {
    let {{ parsed_input_name }} = parse_input(input);
}

pub fn solution_2(input: &str) -> Output {
    let {{ parsed_input_name }} = parse_input(input);
}

#[cfg(test)]
mod tests_day_{{ day }} {
    use super::*;

    #[test]
    fn test_parser() {}

    #[test]
    fn test_solution_1() {}

    #[test]
    fn test_solution_2() {}
}
